﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("extraHeaderItems", false)
</head>
<body>
    <h1 class="centered">John Rosenlof's ASP.NET MVC Web Site in Windows Azure</h1>
    <ul id="menu" class="tabs">
        <li><a href="~/Home"><span class="raiseLetter">H</span>OME</a></li>
    	<li><a href="#"><span class="raiseLetter">F</span>ORM/<span class="raiseLetter">L</span>AYOUT <span class="raiseLetter">D</span>EMOS</a>
            <ul class="dropdown">
                <li><a href="~/Home/WebFormDemo" title="Demo of a Web Form">Web Form</a></li>
                <li><a href="#" title="Demo of various layouts">Layout Demo<img src="~/Content/MenuArrow.ico" width="16" height="16" alt="" /></a>
                    <ul class="dropdown">
                        <li><a href="~/Home/AbsoluteLayoutDemo" title="Demo of Absolute Layout">Absolute Layout</a></li>
                        <li><a href="~/Home/StaticLayoutDemo" title="Demo of Static Layout">Static Layout</a></li>
                        <li><a href="~/Home/FloatLayoutDemo" title="Demo of Float Layout">Float Layout</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="~/Home/ClientSideDemo" title="Use javascript for client side processing">
                <span class="raiseLetter">C</span>LIENT<span class="raiseLetter">S</span>IDE <span class="raiseLetter">D</span>EMOS
            </a>
        </li>
        <li><a href="~/Home/ServerSideDemo" title="Use C# for server side processing"><span class="raiseLetter">S</span>ERVER<span class="raiseLetter">S</span>IDE <span class="raiseLetter">D</span>EMOS</a></li>
        <li><a href="~/Home/AboutMe"><span class="raiseLetter">A</span>BOUT <span class="raiseLetter">M</span>YSELF</a></li>
    </ul>
    <div class="clearboth"></div>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(function () {
            //This will make our menu do the "drop-downs" correctly.  I decided
            //to go with a mix of CSS and jQuery here so that the jQuery could
            //supply the necessary effects even on older browsers that might not
            //be CSS3 capable.
            $(".dropdown").each(function () {
                $(this).parent().eq(0).hover(function () {
                    $(".dropdown:eq(0)", this).show();
                },
                function () {
                    $(".dropdown:eq(0)", this).hide();
                });
            });
        });
    </script>
</body>
</html>
