﻿/* Specific styles for the absolute layout demo page
-----------------------------------------------------*/
article
{
    color: White;
    background-color : pink;
    width : 66%;
    padding-bottom : 1.5em;
}

section
{
    color: White;
    background-color : brown;
    margin-top : .5em;
    padding-bottom : 3em;
}

aside
{
    color: White;
    background-color : cyan;
    /* This is what we use without being able
       to position this in a relatively placed
       element 
    position : absolute;
    top : 4.3em;
    left : 55.3em;
    padding-bottom : 10.5em;
    width : 14.44em; */
    /* On the other hand, this is what we use
       if we can place this inside of a relatively
       positioned element. */
    padding-bottom : 11.32em;
    position : absolute;
    top: 8.3%;
    left: 63.4%;
    padding-left : 6.8em;
    padding-right : 6.8em;
}

footer
{
    color: White;
    background-color : Green;
    padding-bottom : .8em;
}

.reducedSizeContent
{
    position: relative;
    text-align: center;
}