﻿/* Overall generic styles
-----------------------------------------------------------*/
/* HTML5Dr suggested that we try using the body
   as a container instead of a separate div */
body {
    margin : auto;
    width : 800px;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
}

/* Adjust the spacing for the paragraphs inside the fieldsets */
fieldset p
{
    margin : 0;
}

/* Added an extra div element for the fieldsets to try to make the
   spacing look like the example. */
.fieldsetDiv
{
    padding : .2em;
}

legend {
    font-size: 1.2em;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/* tabs
-----------------------------------------------------------*/

ul.tabs
{
    margin: 0.25em 0em;
    padding: 0em;
    list-style-type: none;
    position: relative;
}

ul.tabs li
{
    margin: 0;
    padding: 0;
    float: left;
    position: relative;
}

ul.tabs a
{
    display: block;
    font-weight: bold;
    color: Blue;
    background-color: #DEB887;
    text-align: left;
    padding: 0.25em 1.4em;
    text-decoration: none;
    line-height: 1em;
}

ul.tabs a:visited
{
    color: Purple;
}

ul.tabs a:hover
{
    background-color: Aqua;
}

/* dropdowns
-----------------------------------------------------------*/

ul.dropdown
{
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    z-index: 999;
    top: 100%;
    width: 9em;
    display: none;
    left: 0;
}

ul.dropdown ul.dropdown
{
    top: 0;
    left: 100%;
}

ul.dropdown li
{
    margin: 0;
    padding: 0;
    float: none;
    position: relative;
    list-style-type: none;
    display: block;
}

ul.dropdown a
{
    display: block;
    font-weight: bold;
    color: Blue;
    background-color: #D3D3D3;
    text-align: left;
    padding: 0.25em;
    text-decoration: none;
    line-height: 1em;
}

ul.dropdown a:hover
{
    background-color: Aqua;
}

/* jQuery Validation
-----------------------------------------------------------*/
.error {
    color: #e80c4d;
}

/* Misc. specific style items
-----------------------------------------------------------*/
.italics
{
    font-style : italic;
}

.reducedSizeContent
{
    width: 700px;
    padding: 0em 5em;
    margin-bottom: 1em;
}

.centered
{
    text-align: center;
}

.clearboth
{
    clear: both;   
}

.raiseLetter
{
    font-size: 1.5em;
}

.hidden
{
    display: none;
}

.noMarginOrPaddingBottom
{
    margin-bottom: 0;
    padding-bottom: 0;
}

ul.error
{
    display: inline-table;
}

/* This is for figures that need to not have
   any margin.  I added this to copy the look
   shown in the project example.*/
.noMarginFigure
{
    margin : 0;
}

/* Float block items right */
.float-right
{
    float : right;
}

/* This is mostly for the AboutMe.html page, but I tried
   to make this class as generic as possible so that it
   could possibly be reused on other pages that have a
   figure on them. */
.section-with-figure h3
{
    width : 30em;
}

.purpleHeader
{
    color : Purple;
}

.blueHeader
{
    color: Blue;
}

/* This probably being nitpicky, but I'm adding this
  to get my numbered list to match the indent of my
  bulleted list. */
.section-with-figure ol
{
    padding-left : 3em;
}