﻿/* Specific styles for the static layout demo page
---------------------------------------------------*/
article
{
    color: White;
    background-color : pink;
    width : 66%;
    padding-bottom : 1.5em;
}

section
{
    color: White;
    background-color : brown;
    margin-top : .5em;
    padding-bottom : 3em;
}

aside
{
    color: White;
    background-color : cyan;
    width : 33%;
    padding-bottom : 11em;
}

footer
{
    color: White;
    background-color : Green;
    padding-bottom : .8em;
}

.reducedSizeContent
{
    position: relative;
    text-align: center;
}