﻿@{
    ViewBag.Title = "About Me";
}

<div class="reducedSizeContent">
    <h2 class="blueHeader">Resume</h2>
    <figure class="noMarginFigure float-right">
        <img src="/Content/profilePhoto.jpg" alt="Author's profile photo" width="200" height="200" />
    </figure>
    <section class="section-with-figure">
        <h3 class="purpleHeader">Education (College and above, Graduate Year, degree, major, and school)</h3>
        <ul>
            <li>2013 (expected), B.S. Management Information Systems, California State University Long Beach</li>
        </ul>
        <h3 class="purpleHeader">Working Experience (Title, Company, and Years)</h3>
        <ol>
            <li>Lead System Administrator, <a href="http://www.knowledgerelay.com" target="_blank" title="Open new window to Knowledge Relay website">Knowledge Relay</a>, 7 years</li>
            <li>Software Developer, <a href="http://www.knowledgerelay.com/Portals/0/WIADemo.jpg" target="_blank" title="Open new window to see a sample of an application">Knowledge Relay</a>, 2 years</li>
        </ol>
        <h3 class="purpleHeader">Expectation for this course (Anything you want me to cover in class)</h3>
        <p>I work as a .NET developer so I have worked with web technologies before, but I don't know them as well as I'd like.  I would like to strengthen my skills
            in html, css and javascript this semester.  I'm also looking forward to getting better at MVC 4.</p>
    </section>
</div>
