﻿@{
    ViewBag.Title = "Client Side Demo";
}

<div class="reducedSizeContent">
    <h2>Client Side Demo</h2>
    <form id="clientSideDemoForm" name="clientSideDemoForm" action="#" method="get">
        <div class="inputPrompt">
            <h4>To begin, enter a sentence or a series of words:</h4>
            <div class="editor-field">
                <input id="textInput" class="required" type="text" placeholder="Place text here" name="TextInput" />
            </div>
            <h4>Now, click the "Reverse" button to reverse the words.</h4>
            <input id="reverseBtn" type="submit" value="Reverse" />
        </div>
    </form>
    <div class="taskResult hidden">
        <h3 class="noMarginOrPaddingBottom">The words have been reversed!</h3>
        <div class="display-field">
            <span id="result"></span>
        </div>
    </div>
</div>
<div class="reducedSizeContent">
    <div class="taskResult hidden">
        <a href="~/Home/ClientSideDemo">Start Over</a>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryvalidate")
    @Scripts.Render("~/bundles/jqueryui")
    <script type="text/javascript">
        $(document).ready(function () {
            //Function to reverse an input string of text.
            var reverseText = function (inputString) {
                //Split the string on spaces to create an array of words.
                var wordArr = inputString.split(" ");
                var outputString = "";

                //Iterate backwards through the array and append it to the outputString
                for (var i = wordArr.length - 1; i >= 0; i--) {
                    outputString += wordArr[i] + " ";
                }

                //Trim remaining spaces from the front and back of the string before returning.
                outputString = $.trim(outputString);

                return outputString;
            };

            //Perform validation on the supplied input.  The only thing necessary is that
            //input to the text box is mandatory.  HTML element should be decorated with the
            //required CSS class so that the validation knows what's required and what's not.
            $("#clientSideDemoForm").validate({
                //Submit handler runs after validation passes and handles the default submit of the form.
                submitHandler: function (form) {
                    $(".inputPrompt").effect("puff", 800, function () {
                        $("#result").html(
                            "<mark>" + reverseText($("#textInput").val()) + "</mark>"
                        );
                        $(".taskResult").show(500);
                    });
                },
                //Message to display when validation fails.
                messages: {
                    TextInput: "Please enter a series of words"
                }
            });
        });
    </script>
}