﻿@{
    ViewBag.Title = "Home Page";
}

<article class="reducedSizeContent">
    <h2>Default Home Page</h2>

    <p>This semester in IS445 we have learned about HTML, CSS, Javascript, jQuery, and ASP.NET MVC.  This final project site
       will show off some of the things we have learned.</p>
    <p>The Form/Layout Demos will demonstrate the HTML and CSS skills that we learned.  The web form is done using new semantic
       HTML5 elements.  The form is laid out with HTML and styled with CSS.  The Layout demos show the different ways that elements
       on a page can be positioned using CSS.</p>
    <p>The Client Side and Server Side Demos show two different ways to work with user supplied input in ASP.NET.  The Client Side
       Demo will use Javascript to take a string of text (a series of words) and reverse their order after the user clicks a button.
       The Server Side Demo will take a 10 digit phone number and properly format it by sending it to the server to be processed.  The
       server will then send the formatted telephone number back to the page and display it to the user.  Behind the scenes, the page
       will use validation and model binding, among other things, to do the work that it needs to do.</p>
    <p>Finally, the site will have a brief resume.  We have been using this resume for various homework assignments.  We have used it
       to practice layout and styles and this version of the resume is the final version.</p>
    
    <h3>Click a link from the menu above to get started!</h3>
</article>