﻿@*The controller will tell the page which type of layout it should
  be using and we'll set that in the cssLink variable so that we
  can have the proper CSS bundler rendered into the <head> section
  when the page is displayed.*@
@{
    string cssLink;
    if (ViewBag.LayoutType == "absolute")
    {
        cssLink = "~/Content/absolutecss";
    }
    else if (ViewBag.LayoutType == "static")
    {
        cssLink = "~/Content/staticcss";
    }
    else if (ViewBag.LayoutType == "float")
    {
        cssLink = "~/Content/floatcss";
    }
    else
    {
        cssLink = "";
    }

    
}

@*If there's some sort of problem and the controller
  sent a layout type that this page isn't aware of,
  we'll let the user (who is hopefully just the developer
  at this point) know so that the problem can be fixed.
  Otherwise, we'll go ahead and render the appropriate
  stylesheet in the layout page's header section.*@
@if (string.IsNullOrEmpty(cssLink))
{
    <div class="reducedSizeContent">
        <p>INCORRECT LAYOUT TYPE SPECIFIED</p>
    </div>
}
else
{
    @section extraHeaderItems{
        @Styles.Render(cssLink)
    }
    
    <div class="reducedSizeContent">
        <br />
        <article> &lt;My Article&gt;
            <section>&lt;Section One&gt;</section>
            <section>&lt;Section Two&gt;</section>
        </article>
        <aside>&lt;Aside&gt;</aside>
        <footer>&lt;Footer&gt;</footer>
    </div>
}
