﻿@model IS445ProjectJLR.Models.PhoneNumberModel

<div class="reducedSizeContent">
    <h2>Server Side Demo</h2>
    @*I've experimented with html helpers in other assignments so in this one,
      I want to see what it's like using the model validation in the controller
      but no html helpers (in other words, doing the html myself) in the view. *@
    @*If the modelstate isn't valid and the errors dictionary has model level errors, this will display
      those errors*@
    @if (!this.ViewContext.ViewData.ModelState.IsValid && this.ViewContext.ViewData.ModelState.ContainsKey(""))
    {
        @*Making doubly sure that the errors dictionary has an item to display so that we don't get any unhandled exceptions
          from a null object.*@
        if (this.ViewContext.ViewData.ModelState[""] != null && this.ViewContext.ViewData.ModelState[""].Errors.Count > 0)
        {
            <ul class="error">
                @foreach (ModelError err in this.ViewContext.ViewData.ModelState[""].Errors)
                {
                    <li class="error">@err.ErrorMessage</li>
                }
            </ul>
        }
    }
    <form id="serverSideDemoForm" name="serverSideDemoForm" action="~/Home/ServerSideDemo" method="post">
        <div class="inputPrompt">
            <h4>To begin, enter a 10 digit phone number in any format:</h4>
            <div class="editor-field">
                <input id="PhoneNumber" class="required" type="tel" placeholder="Enter phone number here" name="PhoneNumber" value="@Model.PhoneNumber" />
                @*IF the modelstate isn't valid and the errors dictionary has errors for the PhoneNumber property, display those errors*@
                @if (!this.ViewContext.ViewData.ModelState.IsValid && this.ViewContext.ViewData.ModelState["PhoneNumber"].Errors.Count > 0)
                {
                    <ul class="error">
                        @foreach (ModelError err in this.ViewContext.ViewData.ModelState["PhoneNumber"].Errors)
                        {
                            <li class="error">@err.ErrorMessage</li>
                        }
                    </ul>
                }
            </div>
            <h4>Now, click the "Format" button to format the number into a standard format.</h4>
            <input id="formatBtn" type="submit" value="Format" />
        </div>
    </form>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryvalidate")
    @Scripts.Render("~/bundles/jqueryui")
    <script type="text/javascript">
        $(document).ready(function () {
            //Perform validation on the supplied input.  The only thing necessary is that
            //input to the text box is mandatory.  HTML element should be decorated with the
            //required CSS class so that the validation knows what's required and what's not.
            $("#serverSideDemoForm").validate({
                //Validation rules
                rules: {
                    PhoneNumber: {
                        required: true,
                        minlength: 10,
                        maxlength: 10
                    }
                },
                //Message to display when validation fails.
                messages: {
                    PhoneNumber: {
                        required: "Please enter 10 digits of a phone number",
                        minlength: jQuery.format("Please specify at least {0} characters"),
                        maxlength: jQuery.format("Please specify at most {0} characters")
                    }
                }
            });
        });
    </script>
}
