﻿@model IS445ProjectJLR.Models.PhoneNumberModel

<div class="reducedSizeContent">
    <h2>Server Side Demo</h2>
    <h3 class="noMarginOrPaddingBottom">Here's your formatted phone number!</h3>

    <div class="display-field">
        <mark>@Model.PhoneNumber</mark>
    </div>
</div>
<div class="reducedSizeContent">
    <a href="~/Home/ServerSideDemo">Start Over</a>
</div>
