﻿@{
    ViewBag.Title = "Web Form Demo";
}

<div class="reducedSizeContent">
    <h2>Welcome to my Web Form</h2>
    <h3>A demo form for hotel room reservation</h3>
    <form action="#" method="get">
        <fieldset id="custinfo">
            <legend>Customer Information</legend>
            <div class="fieldsetDiv">
                <p><label for="fullNameTB">Full name: </label><input type="text" id="fullNameTB" name="FullName" maxlength="50" placeholder="Firstname Lastname" required="required"/></p>
                <p><label for="eMailTB">Email address: </label><input type="email" id="eMailTB" name="EmailAddr" maxlength = "100" required="required" /></p>
                <p><label for="phoneNumTB">Phone: </label><input type="tel" id="phoneNumTB" name="PhoneNum" maxlength = "100" required="required" /></p>
            </div>
        </fieldset>
        <fieldset id="roominfo">
            <legend>Room Information</legend>
            <div class="fieldsetDiv">
                <p><label for="arrivalDateDP">Arrival date: </label><input type="date" id="arrivalDateDP" name="ArrivalDate" required="required" /></p>
                <p><label for="arrivalTimeTP">Arrival time: </label><input type="time" id="arrivalTimeTP" name="ArrivalTime" required="required" /></p>
                <p>
                    <label>Select a room type: </label>
                    <select name="SelectRoomType">
                        <option value="luxury">Luxury</option>
                        <option value="std">Standard</option>
                        <option value="econ">Economic</option>
                    </select>
                </p>
                <p><label for="numNightsNB">Number of nights (valid number is from 1 to 30): </label><input type="number" id="numNightsNB" name="NumNights" min="1" max="30" value="1" required="required" /></p>
                <p><label for="numGuestsNB">Number of guests (the maximum guests is 3): </label><input type="number" id="numGuestsNB" name="NumGuests" min="0" max="3" value="0" required="required" /></p>
            </div>
        </fieldset>
        <fieldset id="otherinfo">
            <legend>Other Information</legend>
            <div class="fieldsetDiv">
                <p><label for="promoCodeTB">Promo code: <input type="text" id="promoCodeTB" name="PromoCode" maxlength="4" pattern="[a-zA-Z0-9]{4}" /></label></p>
                <p><label>Special Note: </label><textarea name="SpecialNotes" rows="5" cols="40" placeholder="Enter your special notes here"></textarea></p>
            </div>
        </fieldset>
        <br />
        <input type="reset" name="ResetButton" value="Clear Form" />
        <input type="submit" name="SubmitButton" value="Request Reservation" />
    </form>
</div>
